@using WebApplicationStore.Models.StoreDbModels
@model WebApplicationStore.Models.ViewModels.Home

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if(User.IsInRole("Admin")){
        <p>Admin <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }else{
        <p>user <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    }


    @foreach (ViewSiteHome item in Model.listMain)
    {
        <div>
            @item.Id
            @item.Name

            @item.BuyInvoiceNumber
            @item.PercentInterest

            @item.PercentWages
            @item.Discount
            @item.RemainingCount
            @item.Title
            @item.ImageUrl
            @item.ColorCode
              
            @Html.ActionLink("جزئیات", "Index", "ProductDetials", new { id = @item.Id }, null)

            <a href="@Url.Action("Index", "ProductDetials", new { id =  @item.Id })">جزئیات</a>

            <hr />
        </div>
    }



    <div class="text-center">
        <h1 class="display-4">zarinpal</h1>
        @*<input type="submit" value="ارسال درخواست" class="btn btn-success" />  *@
        <a class="btn btn-primary btn-block" asp-action="PaymenBytHttpClient"> پرداخت</a>
    </div>

</div>



 