@model WebApplicationStore.Models.StoreDbModels.SdAddress

@{
    ViewBag.Title = "حذف";
}

<h2>حذف</h2>

<h3>آیا مطمئن هستید که می‌خواهید این آدرس را حذف کنید؟</h3>
<div class="container">
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            آدرس
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt class="col-sm-4">
            نام کامل
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt class="col-sm-4">
            شماره موبایل
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt class="col-sm-4">
            شهر
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.City.Title)
        </dd>

        <dt class="col-sm-4">
            پیش‌فرض
        </dt>
        <dd class="col-sm-8">
            @(Model.IsDefault ? "آدرس پیش‌فرض" : "خیر")
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" /> |
            @Html.ActionLink("بازگشت به لیست", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
