@using WebApplicationStore.Models.StoreDbModels
@model WebApplicationStore.Models.ViewModels.ProductDetails

@{
    ViewData["Title"] = "جزئیات محصول";
}

<div class="container mt-4">
    <h1 class="text-center">@Model.product.Title</h1>
    <div class="row">
        <div class="col-md-6">
            @* <img src="@Model.product.image" class="img-fluid" alt="@Model.product.Name" style="max-height: 400px; object-fit: cover;"> *@
        </div>
        <div class="col-md-6">
            <h4>نام محصول: @Model.product.Name</h4>
            <p>کد محصول: @Model.product.Code</p>
            <p>توضیحات: @Model.product.Description</p>
            <p>قیمت خرید: @Model.product.BuyPrice تومان</p>
            <p>درصد سود: @Model.product.PercentInterest%</p>
            <p>درصد کارمزد: @Model.product.PercentWages%</p>
            <p>تخفیف: @Model.product.Discount%</p>
            <p>تعداد باقی‌مانده: @Model.product.RemainingCount</p>
            <p>کد رنگ: <span style="background-color:@Model.product.ColorCode; padding: 5px; border-radius: 4px;"></span></p>
        </div>
    </div>

    <hr />

    <h4>تصاویر</h4>
    <div class="row">
        @foreach (var item in Model.productImages)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name" style="height: 250px; object-fit: cover;">

                    </div>
                </div>
            </div>
        }
    </div>
    <hr />

    <h4>رنگ‌های دیگر</h4>
    <div class="row">
        @foreach (var item in Model.productDetails_Colors)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <p>رنگ: @item.Title</p>
                        <p>کد رنگ: <span style="background-color:@item.ColorCode; padding: 5px; border-radius: 4px;"></span></p>
                        <a href="@Url.Action("Index", "ProductDetials", new { id = item.OtherProductChargePropertiesId })" class="btn btn-outline-primary">مشاهده این رنگ</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <hr />
    <h4>مشخصه‌ها</h4>
    <ul style="list-style-type: none; padding: 0;">
        @foreach (var item in Model.productDetailsSize)
        {
            var sizeValueDescription = item.SizeValueDescription ?? " ";
            var descriptionWords = sizeValueDescription.Split(' ').Take(10);
            var shortDescription = string.Join(" ", descriptionWords);
            var hasMore = sizeValueDescription.Split(' ').Length > 10;

            <li style="margin-bottom: 10px;">

                <strong>@item.SizeTitle:</strong> @item.SizeValue
                @if (!string.IsNullOrEmpty(item.SizeDescription)) // بررسی می‌کند که آیا SizeDescription خالی نیست
                {
                    @: - @item.SizeDescription
                }
                (
                @if (hasMore)
                {
                    <span>@shortDescription ...</span>
                    <a href="#" class="size-description" data-description="@Html.Raw(sizeValueDescription)" data-toggle="modal" data-target="#sizeDescriptionModal" class="btn btn-link">ادامه</a>
                }
                else
                {
                    <span>@sizeValueDescription</span>
                }
                )<br />


 

            </li>
        }
    </ul>


    <hr />

    <h4>محصولات مشابه در همین اندازه</h4>
    <div class="row">
        @foreach (var item in Model.similarProductInSize)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Name" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">شماره فاکتور: @item.BuyInvoiceNumber</p>
                        <p class="card-text">درصد سود: @item.PercentInterest%</p>
                        <p class="card-text">درصد کارمزد: @item.PercentWages%</p>
                        <p class="card-text">تخفیف: @item.Discount%</p>
                        <p class="card-text">تعداد باقی‌مانده: @item.RemainingCount</p>
                        <a href="@Url.Action("Index", "ProductDetials", new { id = item.ProductChargePropertiesId })" class="btn btn-outline-primary">مشاهده این سایز</a>
                    </div>
                </div>
            </div>
        }
    </div>
     
@*     <h4>هزینه‌های ارسال</h4>
    <div class="row">
        @foreach (var item in Model.productSendPrice)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <p>کشور: @item.Country</p>
                        <p>استان: @item.State</p>
                        <p>هزینه ارسال: @item.Price تومان</p>
                    </div>
                </div>
            </div>
        }
    </div> *@

@*     <div class="text-center mt-5">
        <h2>پرداخت با زرین‌پال</h2>
        <a class="btn btn-success btn-lg" asp-action="PaymenBytHttpClient">پرداخت</a>
    </div> *@

@*     <div class="text-center mt-4">
        <a href="@Url.Action("Index", "ShoppingBaskets", new { userId = User.Identity.Name })" class="btn btn-secondary">مشاهده سبد خرید</a>
    </div> *@
</div>

<!-- Modal -->
<div class="modal fade" id="sizeDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="sizeDescriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sizeDescriptionModalLabel">توضیحات اندازه</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalSizeValueDescription"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        $('#sizeDescriptionModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // دکمه که مودال را باز کرده
            var description = button.data('description'); // توضیحات مقدار
            var modal = $(this);

            // نمایش توضیحات در مودال
            modal.find('#modalSizeValueDescription').text(description);
        });
    </script>
}
